.landBoxRoot {
  width: 393px;
  border-radius: 8px;
  background: #1e1e1e;
}
.bidBtn {
  border-radius: 20px;
  background: #cbfa34;
  opacity: 0.7;
}
.imgsBox {
  gap: 10px;
  min-height: 215px;
}
.imgsBox img {
  height: 215px;
  width: 100%;
}
.carouselRoot {
  width: 100%;
  min-width: 100%;
}
