.ativeRectRoot {
  z-index: 1;
}
.toolTipRoot {
  position: relative;
}
.toolTip {
  position: absolute;
  background-color: #fff;
  border-radius: 5px;
  padding: 10px 20px;
  box-shadow: 0 0 3px #000;
  width: max-content;
}
