.miniMapBOx {
  width: 290px;
  position: absolute;
  top: 58px;
  right: 70px;
  float: right;
  background: linear-gradient(90deg, #cbfa34 0%, #66acd4 100%);
  border-radius: 10px;
  padding: 11px;
  z-index: 2;
  box-shadow: 0 0 3px #000;
}
.box {
  border-radius: 15px;
}
.hiddenBox {
  background: linear-gradient(90deg, #69aed0 -24.49%, #caf936 115.31%);
  border-radius: 10px 0px 0px 10px;
  width: 98px;
  height: 66px;
  right: 0px;
  z-index: 3;
  box-shadow: 0 0 3px #000;
}
.hiddenBox * {
  cursor: pointer;
}
.hiddenBox span {
  font-weight: bold;
  font-size: 11px;
  line-height: 13px;
  color: black;
  z-index: 2;
}
